body{
    background: rgb(255,247,174);
    background: linear-gradient(90deg, rgba(255,247,174,1) 0%, rgba(255,170,251,1) 100%);
    color: #1e324e !important;
}
#logo{
    width: 100px;
    height: auto;
}
nav{
     background: rgb(255,247,174);
    background: linear-gradient(90deg, rgba(255,247,174,1) 0%, rgba(255,170,251,1) 100%);
}
ul li a , #dropdownNavbarLink{
    color: #1e324e;
  font-size: large;
  font-family: arial;
  font-weight: 500;
}
.content-main section{
    background: #ffffff61;
    border-radius: 1rem;
    box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.content-main{
   
    padding: 1rem;
}
.section-header #svg-icon{
    width: 45px;
  height: auto;
  margin-left: 9px;
  padding-bottom: 15px;
}

.section-header {
  justify-content: center;
  display: inline-flex;
    margin-top: 4.5rem; 
    margin-bottom: 1.5rem;
    width: 100%;
    text-align: center;
   
}

.grid-container {
    display: grid;
    padding: 20px;
    grid-template-columns: auto auto auto auto;
    
    padding: 10px;
  }
  
  .grid-item {
   
    
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

.grid-container-second {
    display: grid;
    padding: 20px;
    grid-template-columns: auto auto auto auto;
    
    padding: 10px;
  }

  .grid-item-second {
   
    
    padding: 20px;
    font-size: 30px;
    text-align: left;
  }



.p-5 p{
    font-size: 0.7rem;
  text-align: justify;
}

#container-img{
    height: fit-content;
  width: 100%;
}
#pricing-mark{
    color:#1e324e;
}

  @media only screen and (max-width: 500px) {
.grid-container {
    grid-template-columns: auto   ;
   

}
.section-header #svg-icon{

  width: 25px;
  padding-bottom: 15px;
  margin-left: 2px;
}
.grid-container-second {
    grid-template-columns: auto   ;


}
.p-5 a h5{
    font-size: 0.65rem;
}
.p-5 p{
    font-size: 0.55rem;
    text-align: initial;
}
.grid-item {
padding:10px;
font-size: 20px;

}
#container-img{
    height: auto;
  width: 100%;
}
 
.section-header h1{
    font-size: 1.5rem;
}


.content-main {
  padding: 2.5rem;
}

}


  @media only screen and (max-width: 900px) {
    .grid-container {
        grid-template-columns: auto   ;
    
    }

}